Repository Ofadiman/ofablog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{svg,md,mdx}": [
    "prettier --write"
  ]
}

fix: migrate ts-jest to babel-jest
  jest.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix

feat: add <Logo /> component (#5)
  .storybook/main.js
  .storybook/preview.js
  _templates/new/component/[name].component.stories.txt
  _templates/new/component/[name].component.styles.txt
  _templates/new/component/[name].component.test.txt
  _templates/new/component/[name].component.txt
  _templates/new/component/[name].component.types.txt
  _templates/new/constants/[name].constants.txt
  _templates/new/decorator/[name].decorator.test.txt
  _templates/new/decorator/[name].decorator.txt
  _templates/new/dto/[name].dto.txt
  _templates/new/enum/[name].enum.txt
  _templates/new/function/[name].test.txt
  _templates/new/function/[name].txt
  _templates/new/function/[name].types.txt
  _templates/new/hook/[name].test.txt
  _templates/new/hook/[name].txt
  _templates/new/hook/[name].types.txt
  _templates/new/type/[name].type.txt
  babel.config.json
  components/Link/Link.component.test.tsx
  components/Link/Link.component.tsx
  components/Link/Link.component.types.ts
  components/Logo/Logo.component.stories.tsx
  components/Logo/Logo.component.styles.ts
  components/Logo/Logo.component.test.tsx
  components/Logo/Logo.component.tsx
  components/Logo/Logo.component.types.ts
  jest.config.js
  package.json
  public/icons/close.svg
  public/icons/dark_mode.svg
  public/icons/light_mode.svg
  public/icons/menu.svg
  public/icons/navigate_next.svg
  yarn.lock
Due: eslint --fix, prettier --write

feat: add <CodeHighlighter /> component (#9)
  components/CodeHighlighter/CodeHighlighter.component.stories.tsx
  components/CodeHighlighter/CodeHighlighter.component.stories.utils.ts
  components/CodeHighlighter/CodeHighlighter.component.styles.ts
  components/CodeHighlighter/CodeHighlighter.component.test.tsx
  components/CodeHighlighter/CodeHighlighter.component.test.utils.ts
  components/CodeHighlighter/CodeHighlighter.component.tsx
  components/CodeHighlighter/CodeHighlighter.component.types.ts
  constants/MdxComponents.constants.ts
  constants/MdxComponents.constants.tsx
  content/posts/pre-rendering.mdx
  functions/mapClassNameToLanguageString/mapClassNameToLanguageString.test.ts
  functions/mapClassNameToLanguageString/mapClassNameToLanguageString.test.utils.ts
  functions/mapClassNameToLanguageString/mapClassNameToLanguageString.ts
  next.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: add github issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/build.md
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/code-style.md
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/continuous-integration.md
  .github/ISSUE_TEMPLATE/documentation-changes.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/general.md
  .github/ISSUE_TEMPLATE/performance-improvements.md
  .github/ISSUE_TEMPLATE/refactor.md
  .github/ISSUE_TEMPLATE/revert.md
  .github/ISSUE_TEMPLATE/test-coverage-increase.md
Due: prettier --write

feat: add <Header /> component (#6)
  .gitattributes
  .storybook/preview.js
  _templates/new/container/[name].container.test.txt
  _templates/new/container/[name].container.txt
  _templates/new/container/[name].container.types.txt
  components/CodeHighlighter/CodeHighlighter.component.styles.ts
  components/Header/Header.component.stories.tsx
  components/Header/Header.component.styles.ts
  components/Header/Header.component.test.tsx
  components/Header/Header.component.test.utils.tsx
  components/Header/Header.component.tsx
  components/Header/Header.component.types.ts
  components/Logo/Logo.component.tsx
  components/PageLayout/PageLayout.component.styles.ts
  components/PageLayout/PageLayout.component.test.tsx
  components/PageLayout/PageLayout.component.test.utils.ts
  components/PageLayout/PageLayout.component.tsx
  components/PageLayout/PageLayout.component.types.ts
  components/ThemeSwitcher/ThemeSwitcher.component.stories.tsx
  components/ThemeSwitcher/ThemeSwitcher.component.test.tsx
  components/ThemeSwitcher/ThemeSwitcher.component.test.utils.ts
  components/ThemeSwitcher/ThemeSwitcher.component.tsx
  components/ThemeSwitcher/ThemeSwitcher.component.types.ts
  containers/Header/Header.container.test.tsx
  containers/Header/Header.container.tsx
  containers/PageLayout/PageLayout.container.test.tsx
  containers/PageLayout/PageLayout.container.tsx
  containers/PageLayout/PageLayout.container.types.ts
  containers/ThemeSwitcher/ThemeSwitcher.container.test.tsx
  containers/ThemeSwitcher/ThemeSwitcher.container.tsx
  functions/renderComponent/renderComponent.tsx
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  readme.md
  styles/GlobalStyles.tsx
  styles/theme.ts
  styles/themes.ts
  yarn.lock
Due: eslint --fix, prettier --write

ci: remove export step from blog workflow
  .github/workflows/continuous-deployment-blog.yaml
  Makefile
  scripts/delete-merged-branches.sh
Due: none

ci: obsolete continuous deployment pipelines (#14)
  .github/workflows/continuous-deployment-blog.yaml
  .github/workflows/continuous-deployment-storybook.yaml
Due: none

fix: dark mode does not work (#15)
  containers/ThemeSwitcher/ThemeSwitcher.container.tsx
  package.json
  pages/_app.tsx
  yarn.lock
Due: eslint --fix

chore: update dependencies to the newest minor versions
  package.json
  yarn.lock
Due: none
